.card.my-3
  = line_chart @sensor_measurements.map{|m| [m.created_at, m.value]}.to_h

.card.mb-3
  %h5.card-header
    = "Measurement for #{@sensor.name}"
  .table-responsive
    %table.table
      %tr
        %th
          Value
        %th
          Time
        %th
      - @sensor_measurements.each do |measurement|
        %tr
          %td
            = measurement.value
          %td
            = I18n.l measurement.created_at
